/* Enter your custom styles here */
/* Put this in your view or global CSS */
.TinyPadding{
    padding-right: 1px !important; 
}
.horizontalScrollOnly {
    overflow-x: auto !important;
    overflow-y: hidden !important;
    width: 100% !important;
}
